src/main/java/org/example/trs2_lab/soap/xsd/product/findByCategoryId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://trs2_lab3/products"
           targetNamespace="http://trs2_lab3/products"
           elementFormDefault="qualified">

    <xs:element name="GetProductsByCategoryIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="manufacturerId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetProductsByCategoryIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:productType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="productType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="categoryName" type="xs:string"/>
            <xs:element name="manufacturerName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>