src/main/resources/xsd/commonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://trs2_lab3/products"
           elementFormDefault="qualified">

<xs:complexType name="productType">
    <xs:sequence>
        <xs:element name="id" type="xs:long"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="price" type="xs:decimal"/>
        <xs:element name="categoryName" type="xs:string"/>
        <xs:element name="manufacturerName" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>