src/main/resources/xsd/findByPriceBetween.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://trs2_lab3/products"
           targetNamespace="http://trs2_lab3/products"
           elementFormDefault="qualified">
    <xs:include schemaLocation="commonTypes.xsd"/>

    <xs:element name="GetProductsByPriceBetweenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from" type="xs:decimal"/>
                <xs:element name="to" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetProductsByPriceBetweenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:productType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>