src/main/resources/xsd/findByManufacturerId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://trs2_lab3/products"
           targetNamespace="http://trs2_lab3/products"
           elementFormDefault="qualified">
    <xs:include schemaLocation="commonTypes.xsd"/>
    <xs:element name="GetProductsByManufacturerIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="manufacturerId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetProductsByManufacturerIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:productType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>